<header class="app-header">
  <mat-toolbar>
    <img src="assets/imagens/logo.png" alt="Logo da aplicação Jornada">
    <span class="spacer"></span>
    <ng-container *ngFor="let button of buttons">
      <button
        *ngIf="button.type === 'text'"
        mat-button
        [routerLink]="button.route">
        {{ button.label }}
      </button>
      <button
        *ngIf="button.type === 'raised'"
        mat-raised-button
        color="primary"
        [routerLink]="button.route">
        {{ button.label }}
      </button>
      <button
        *ngIf="button.type === 'stroked'"
        mat-stroked-button
        [routerLink]="button.route">
        {{ button.label }}
      </button>
    </ng-container>
  </mat-toolbar>
</header>
